.wrapper {
  position: absolute;
  width: var(--b2market-slider-size);
  height: var(--b2market-slider-size);
  border-radius: 50%;
  background: var(--tg-theme-button-color);
  user-select: none;
  -webkit-user-select: none;
  inset-block-start: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.wrapper--ios {
  background: #fff;
  box-shadow:
    0 6px 6.5px rgba(0, 0, 0, 0.12),
    0 0.5px 2px rgba(0, 0, 0, 0.12);
}

.input {
  inline-size: 100%;
  block-size: 100%;
}
