.step {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--tg-theme-hint-color);
}

.step--passed {
  opacity: 0.35;
  background: var(--tg-theme-hint-color);
}

.step--ios {
  width: 4px;
  height: 20px;

  border-radius: 3px;
  background: rgb(128, 128, 128, 0.25);
}

.step--ios.step--passed {
  opacity: 1;
  background: var(--tg-theme-button-color);
}

.step:not(.step--ios):first-child {
  transform: translateX(50%);
}

.step:last-child {
  transform: translateX(-150%);
}

.step--ios:last-child {
  transform: translateX(-100%);
}
