.wrapper {
  position: relative;
  isolation: isolate;
  cursor: pointer;
  transition: opacity 0.15s ease-out;
}

.wrapper[readonly] {
  cursor: default;
  pointer-events: visible;
}

.wrapper[disabled] {
  cursor: default;
  opacity: 0.35;
}

.wrapper--opacity:hover:not(:disabled),
.wrapper--ios:hover:not(:disabled) {
  opacity: 0.85;
}

.wrapper--opacity:active:not(:disabled),
.wrapper--ios:active:not(:disabled) {
  opacity: 0.65;
}
