.wrapper {
  border-radius: 50% !important;
  user-select: none;
}

.wrapper--withAcronym {
  background-color: rgba(236, 241, 255, 1);
  color: var(--tg-theme-link-color);
}

.badge {
  position: absolute;
  right: -12px;
  top: 0;
}
