.wrapper {
  padding: 12px 16px;
}

.wrapper--ios {
  padding: 8px 16px 0;
}

.wrapper--centered {
  padding: 16px 16px 20px;
  text-align: center;
}

.wrapper--ios.wrapper--centered {
  padding: 16px 16px 0;
}

.text {
  color: var(--tg-theme-section-header-text-color);
}
